<header class="bg-intro-large">
    <div class="container no-gutters">
        <span class="slogan slide-top-first d-none d-md-block" lang="en">'HI TECH CLEANERS & DEGREASERS'</span>
        <h1 class="slide-top-second">Servicio de limpieza con ultrasonidos <br class="d-none d-lg-block">con disolventes AIII y base acuosa</h1>
            <hr class="introHr slide-left-right">
            <p class="slide-top-third">Lavado y desengrase exhaustivo en cámara al vacío, con disolventes clorados AIII o hidrocarburos AIII y con una segunda fase en cámara con base acuosa, mediante la tecnología 'Solvacs', para procesos de producción de piezas con restos tanto orgánicos como inorgánicos.</p>
            <!-- <p class="slide-top-third">Lavado y desengrase exhaustivo en cámara al vacío, con disolventes clorados AIII o hidrocarburos AIII según aplicación y con una segunda fase en cámara con base acuosa, con posterior enjuague, secado y protección antioxidante (opcional), mediante la tecnología 'Solvacs', para procesos de producción de piezas con restos tanto orgánicos como inorgánicos.</p> -->
    </div>
</header>