<header class="bg-intro-large">
    <div class="container-lg no-gutters">
        <span class="slogan slide-top-first" lang="en">'HI TECH ULTRASONIC CLEANERS'</span>
        <h1 class="slide-top-second">Servicio de limpieza con ultrasonidos <br class="d-none d-lg-block">y turbulencia en cámara con base acuosa</h1>
            <hr class="introHr slide-left-right">
            <p class="slide-top-third">Altas prestaciones en lavado en piezas metálicas en cámara, con base acuosa y detergentes, mediante la tecnología 'PowerJet', para procesos de producción de piezas con restos principalmente inorgánicos.</p>
            <!-- <p class="slide-top-third">Altas prestaciones en lavado en piezas metálicas en cámara, con base acuosa y detergentes, con posterior enjuague, secado, protección antioxidante, mediante la tecnología 'PowerJet', para procesos de producción de piezas con restos principalmente inorgánicos.</p> -->
    </div>
</header>