<section class="container-fluid no-gutters-own clients">
    <div class="container clients__container">
        <h2><span class="light">Una larga trayectoria </span><br>a base de clientes satisfechos</h2>
        <hr>
        <div class="clients__container__logos-grid">

            <img src="./assets/img/clientes/cliente-sonowat-graphenea.jpg" alt="cliente sonowat graphenea"
                title="cliente sonowat graphenea" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-samson.jpg" alt="cliente sonowat Samson"
                title="cliente sonowat Samson" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-tres.jpg" alt="cliente sonowat Tres"
                title="cliente sonowat Tres" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-virospack.jpg" alt="cliente sonowat Virospack"
                title="cliente sonowat Virospack" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-bmw.jpg" alt="cliente sonowat BMW"
                title="cliente sonowat Equipo limpieza ultrasonidos BMW sector automoción" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-axilone.jpg" alt="cliente sonowat Axilone"
                title="cliente sonowat Axilone" width="100%" />



            <img src="./assets/img/clientes/cliente-sonowat-ti-automotive.jpg" alt="cliente sonowat TI Automotive"
                title="cliente sonowat TI Automotive" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-teknia.jpg" alt="cliente sonowat Teknia"
                title="cliente sonowat Teknia" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-talgo.jpg" alt="cliente sonowat Talgo"
                title="cliente sonowat Talgo" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-some.jpg" alt="cliente sonowat Some"
                title="cliente sonowat Some" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-sincrotro-alba.jpg" alt="cliente sonowat Sincrotró Alba"
                title="cliente sonowat Sincrotró Alba" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-simon.jpg" alt="cliente sonowat Simon"
                title="cliente sonowat Simon" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-tmb.jpg" alt="cliente sonowat TMB"
                title="cliente sonowat TMB" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-tesem.jpg" alt="cliente sonowat Tesem"
                title="cliente sonowat Tesem" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-seat.jpg" alt="cliente sonowat SEAT"
                title="cliente sonowat SEAT" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-roca.jpg" alt="cliente sonowat Roca"
                title="cliente sonowat Roca equipos de limpieza con ultrasonidos para grifería" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-relats.jpg" alt="cliente sonowat Relats"
                title="cliente sonowat Relats" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-plating-decor.jpg" alt="cliente sonowat Plating Decor"
                title="cliente sonowat Plating Decor" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-phibo.jpg" alt="cliente sonowat Phibo"
                title="cliente sonowat equipo limpieza ultrasonidos limpieza exhaustiva implantes dentales Phibo"
                width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-mmm.jpg" alt="cliente sonowat MMM"
                title="cliente sonowat equipo de desengrase con alcoholes modificados AIII MMM" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-metalografica.jpg" alt="cliente sonowat Metalografica"
                title="cliente sonowat Metalografica Máquina limpieza y desengrase altas prestaciones previo a tratamientos térmicos"
                width="100%" />



            <img src="./assets/img/clientes/cliente-sonowat-microdent-implant-system.jpg"
                alt="cliente sonowat Microdent" title="cliente sonowat Microdent" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-mcm.jpg" alt="cliente sonowat MCM"
                title="cliente sonowat MCM" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-majorica.jpg" alt="cliente sonowat Majorica"
                title="cliente sonowat equipo limpieza ultrasonidos previo a baños recubrimientos metalicos"
                width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-lerrasa.jpg" alt="cliente sonowat Lerrasa"
                title="cliente sonowat Lerrasa mecanizados" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-legris.jpg" alt="cliente sonowat Legris"
                title="cliente sonowat Legris" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-lacer.jpg" alt="cliente sonowat Lacer"
                title="cliente sonowat Lacer equipo de limpieza con ultrasonidos laboratorio" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-kme.jpg" alt="cliente sonowat KME"
                title="cliente sonowat KME" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-isabel-cabanillas.jpg"
                alt="cliente sonowat Isabel Cabanillas" title="cliente sonowat Isabel Cabanillas" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-inoxpa.jpg" alt="cliente sonowat Inoxpa"
                title="cliente sonowat Inoxpa" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-inkator.jpg" alt="cliente sonowat Inkator"
                title="cliente sonowat limpieza piezas con geometria compleja" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-iberia.jpg" alt="cliente sonowat Iberia"
                title="cliente sonowat maquinas limpieza ultrasonidos sector aeronautica Iberia" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-hutchinson.jpg" alt="cliente sonowat Hitchinson"
                title="cliente sonowat Hitchinson" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-harmonia.jpg" alt="cliente sonowat Harmonia"
                title="cliente sonowat Equipo limpieza filtros cocina Harmonia" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-grifols.jpg" alt="cliente sonowat Grifols"
                title="cliente sonowat Grifols" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-gesfilter.jpg" alt="cliente sonowat Gesfilter"
                title="cliente sonowat Gesfilter" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-genebre.jpg" alt="cliente sonowat Genebre"
                title="cliente sonowat Genebre" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-fujitsu.jpg" alt="cliente sonowat Fujitsu"
                title="cliente sonowat Equipo limpieza ultrasonidos multietapa" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-endesa.jpg" alt="cliente sonowat Endesa"
                title="cliente sonowat cuba ultrasonidos Endesa" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-denso.jpg" alt="cliente sonowat Denso"
                title="cliente sonowat Equipo de limpieza con ultrasonidos estándar" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-vilardell-purti.jpg" alt="cliente sonowat Vilardell Purtí"
                title="cliente sonowat Vilardell Purtí" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-delphi-technologies.jpg" alt="cliente sonowat Delphi"
                title="cliente sonowat Delphi Technologies maquina limpieza ultrasonidos multietapa cabinada"
                width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-danone.jpg" alt="cliente sonowat Danone"
                title="cliente sonowat Equipo limpieza ultrasonidos sector alimentario" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-climax.jpg" alt="cliente sonowat Climax"
                title="cliente sonowat máquina de limpieza de piezas con disolventes AIII" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-chasis-brakes.jpg" alt="cliente sonowat Chasis Brakes"
                title="cliente sonowat Chasis Brakes" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-bioner.jpg" alt="cliente sonowat Bioner"
                title="cliente sonowat máquina de limpieza poarticulas" width="100%" />


            <img src="./assets/img/clientes/cliente-sonowat-ave-espuga.jpg" alt="cliente sonowat Ave Espuga"
                title="cliente sonowat equipo limpieza ultrasonidos lineas alimentarias Ave Epuga" width="100%" />

            <img src="./assets/img/clientes/cliente-sonowat-amcor.jpg" alt="cliente sonowat Amcor"
                title="cliente sonowat equipo limpieza hidrocarburos AIII Amcor" width="100%" />


        </div>
    </div>
</section>