<header class="bg-intro-large">
    <div class="container-lg no-gutters">
      <span class="slogan slide-top-first" lang="en">'HI TECH CLEANERS & DEGREASERS'</span>
      <h1 class="slide-top-second">Logística integral de los servicios <br class="d-none d-lg-block"></h1>
      <hr class="introHr slide-left-right">
      <h2 class="slide-top-third">
          Nos encargamos de la recogida, la colocación en lavado, recuento, controles de tensión superficial y partículas, envasado al vacío o en bolsas VCI, gestión del envío, etc.
      </h2>
    </div>
  </header>
  

  <section class="container no-gutters-own section">
    <div class="row section__presentation-row">
      <article class="col-12 col-lg-5 section__presentation-row__box-text">
        <picture>
          <img src="./assets/img/icons/sonowat-pionera-sector-ultrasonidos.svg"
            alt="sonowat pionera en sector ultrasonidos" width="76px" height="76px" />
        </picture>
        <h2><span class="light">SonoClean<sup>&reg;</sup>, la nueva estructura dedicada </span><br>a servicios de limpieza
          con alta exigencia</h2>
        <hr />
        <p>Como empresa pionera en la fabricación de máquinas de limpieza de piezas con ultrasonidos, con más de 40 años
          de experiencia en el sector, nos hemos ido adaptando a los importantes cambios que se han ido sucediendo en la
          nueva industria, con producciones cada vez más diversas de piezas con geometrías más complejas, que exigen
          procesos de lavado y control cada vez más específicos. Con el fin de acercar la solución tecnológica más
          adecuada a cada aplicación o requisito que nos han exigido nuestros clientes, hemos decidido crear una nueva
          estructura dedicada en exclusiva a los servicios, que nos permite una más ágil y eficaz gestión de una parte de
          nuestro negocio en claro y exponencial crecimiento. Con ello queremos dar resupesta, desde exigencias de lavado
          muy específica con control de partículas, a grandes producciones, incluyendo la logística completa de las
          piezas.</p>
      </article>
      <div class="col-12 col-lg-5 offset-lg-1 section__presentation-row__img align-self-center">
      </div>
    </div>
  </section>