<header class="bg-intro-large">
    <div class="container-lg no-gutters">
        <span class="slogan slide-top-first" lang="en">'HI TECH CLEANERS & DEGREASERS'</span>
        <h1 class="slide-top-second">Servicios de limpieza de piezas <br class="d-none d-lg-block">con tecnología de ultrasonidos</h1>
            <hr class="introHr slide-left-right">
            <p class="slide-top-third">Lavado y desengrase con base disolvente y/o detergente de piezas a granel o colocadas en útil, <br class="d-none d-lg-block">con posterior secado, protección antioxidante, control de partículas y/o tensión superficial, colocación en cajas o bolsas VCI o envasadas al vacío, etc.</p>
    </div>
</header>