<header class="bg-intro-large">
    <div class="container-lg no-gutters">
        <span class="slogan slide-top-first" lang="en">'HI TECH VACUUM DEGREASERS'</span>
        <h1 class="slide-top-second">Servicio de limpieza con ultrasonidos con <br class="d-none d-lg-block">disolventes clorados AIII o hidrocarburos AIII</h1>
            <hr class="introHr slide-left-right">
            <p class="slide-top-third">Lavado y desengrase exhaustivo de piezas metálicas en cámara al vacío, con disolventes clorados AIII o hidrocarburos AIII, mediante la tecnología 'Solvacs', para procesos de producción de piezas con restos principalmente orgánicos.</p>
            <!-- <p class="slide-top-third">Lavado y desengrase exhaustivo de piezas metálicas en cámara al vacío, con disolventes clorados AIII o hidrocarburos AIII, con posterior enjuague, secado y protección antioxidante (opcional), mediante la tecnología 'Solvacs', para procesos de producción de piezas con restos principalmente orgánicos.</p> -->
    </div>
</header>