<header class="bg-intro-large">
    <div class="container no-gutters">
        <span class="slogan slide-top-first" lang="en">'HI TECH VACUUM DEGREASERS'</span>
        <h1 class="slide-top-second">Servicio de limpieza con ultrasonidos con <br class="d-none d-lg-block">disolventes
            clorados AIII o hidrocarburos AIII</h1>
        <hr class="introHr slide-left-right">
        <p class="slide-top-third">Lavado y desengrase exhaustivo de piezas metálicas en cámara al vacío, con
            disolventes clorados AIII o hidrocarburos AIII, mediante la tecnología 'Solvacs', para procesos de
            producción de piezas con restos principalmente orgánicos.</p>
        <!-- <p class="slide-top-third">Lavado y desengrase exhaustivo de piezas metálicas en cámara al vacío, con disolventes clorados AIII o hidrocarburos AIII, con posterior enjuague, secado y protección antioxidante (opcional), mediante la tecnología 'Solvacs', para procesos de producción de piezas con restos principalmente orgánicos.</p> -->
    </div>
</header>
<section class="container-fluid disolventes no-gutters-own">
    <div class="container disolventes__container mx-auto">
        <div class="row disolventes__container__row">
            <div class="col-12 col-lg-9 w-100 disolventes__container__row__col">
                <h2 class="w-100"><span class="light">¿En qué consiste el proceso limpieza </span><br>con hidrocarburos
                    AIII o alcoholes modificados AIII?</h2>
                <hr>

                <p>Los procesos de limpieza con base disolventes con los que trabajan nuestras de máquinas tipo
                    'Solvacs', ya sean Alcoholes Modificados AIII o Hidrocarburos AIII, son especialmente indicados para
                    la eliminación de restos en su mayoría orgánicos como <span class="medium">aceites, huellas, polvos
                        o ceras</span>. Asimismo, el efecto de la cámara al vacío con geometría antipartícula, la
                    presión del producto en la misma, su alta temperatura, la rotación de la cesta o el vapor de
                    disolvente, convierten el proceso de lavado de las 'Solvacs' en altamente eficaz, no sólo para los
                    orgánicos, sino también para gran parte de los restos inorgánicos derivados de los procesos de
                    producción de piezas.</p>

                <p>En SonoClean contamos con la tecnología y 'know how' de nuestro equipo técnico para resolver los
                    casos más complejos de limpieza, desengrase y secado de piezas.</p>

                <div class="disolventes__container__row__col__processGrid">
                    <figure>
                        <img src="./assets/img/icons/solvacs/seleccion-programa-hemo-sonowat-blue.svg"
                            alt="seleccion programa limpieza particulas" width="100%">
                        <figcaption>Selección programa</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/carga-automatica-hemo-sonowat-blue.svg"
                            alt="pista de carga automática de las piezas en cesta" width="100%">
                        <figcaption>Carga automática</figcaption>
                    </figure>

                    <figure class="flexSAPointsItem flexSAInside hideElement">
                        <img src="./assets/img/icons/solvacs/camara-antiparticulas-hemo-sonowat-blue.svg"
                            alt="piezas en camara con geometria antiparticulas" width="100%">
                        <figcaption>Cámara antipartículas</figcaption>
                    </figure>

                    <figure class="flexSAPointsItem flexSAInside hideElement">
                        <img src="./assets/img/icons/solvacs/efecto-vacio-hemo-sonowat-blue.svg"
                            alt="efecto vacio en camara de trabajo" width="100%">
                        <figcaption>Efecto vacío</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/llenado-disolvente-hemo-sonowat-blue.svg"
                            alt="llenado de disolvente aiii" width="100%">
                        <figcaption>Llenado disolvente</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/rotacion-de-la-cesta-hemo-sonowat-blue.svg"
                            alt="rotacion de la cesta en la camara de trabajo" width="100%">
                        <figcaption>Rotación cesta</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/ultrasonidos-hemo-sonowat-blue.svg"
                            alt="ultrasonidos en camara de trabajo" width="100%">
                        <figcaption>Ultrasonidos cámara</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/efecto-cavitacion-hemo-sonowat-blue.svg"
                            alt="efecto cavitacion" width="100%">
                        <figcaption>Efecto Cavitación</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/filtracion-producto-hemo-sonowat-blue.svg"
                            alt="filtracion del producto" width="100%">
                        <figcaption>Filtración producto</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/vapor-disolvente-hemo-sonowat-blue.svg"
                            alt="vapor de disolvente" width="100%">
                        <figcaption>Vapor disolvente</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/eliminacion-particulas-hemo-sonowat-blue.svg"
                            alt="eliminacion de particulas de suciedad en las piezas" width="100%">
                        <figcaption>Eliminación partículas</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/secado-al-vacio-hemo-sonowat-blue.svg"
                            alt="secado al vacio" width="100%">
                        <figcaption>Secado al vacío</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/descarga-automatica-hemo-sonowat-blue.svg"
                            alt="descarga automatica" width="100%">
                        <figcaption>Descarga automática</figcaption>
                    </figure>

                    <figure>
                        <img src="./assets/img/icons/solvacs/control-particulas-hemo-sonowat-blue.svg"
                            alt="control de particulas" width="100%">
                        <figcaption>Control partículas</figcaption>
                    </figure>
                </div>

            </div>

            <div class="col-6 disolventes__container__row__col-moreinfoService">
                <h3>¿En qué casos es el más indicado?</h3>
                <p>Como menciomamos en el anterior punto es un proceso especialmente indicado para procesos de
                    producción intermedios en los que las piezas acumulan suciedades como <span class="medium">aceites,
                        huellas, polvos, ceras</span> u otro tipo de impurezas del tamaño de partículas o
                    micropartículas que precisas ser eliminadas para seguir la cadena de producción en sectores como la
                    estmpación, el decoletaje, </p>

            </div>
            <div class="col-6 disolventes__container__row__col-moreinfoService">
                <h3>Opciones logísticas del serivcio</h3>
                <ul>
                    <li>Lavado de piezas a granel</li>
                    <li>Lavado de piezas colocadas en cesta</li>
                    <li>Lavado de piezas colocadas en utillaje</li>
                </ul>

                <h3>Controles y Certificaciones de lavado</h3>
                <ul>
                    <li>Controles de granulometría</li>
                    <li>Controles de tensión superficial</li>
                    <li>Controles de gravimetría (partículas)</li>
                    <li>Certificaciones de lavado y documentaciones de procesos</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<app-services-links></app-services-links>
<app-call-to-action></app-call-to-action>