<header class="bg-intro-large">
    <div class="container no-gutters">
        <span class="slogan slide-top-first d-none d-md-block" lang="en">'HI TECH ULTRASONIC CLEANERS'</span>
        <h1 class="slide-top-second">Servicio de limpieza de piezas<br class="d-none d-lg-block"> por inmersión con ultrasonidos y detergentes</h1>
            <hr class="introHr slide-left-right">
            <p class="slide-top-third">Lavado en baño con agua a temperatura y detergentes para recuperación, exterior e interior, de piezas metálicas</p>
    </div>
</header>