<!-- Section - Services Links -->
<section class="container-fluid no-gutters-own">
    <div class="container section mx-auto">
        <div class="row section__servicios-home-row">
            <div class="col-12 no-gutters-own section__servicios-home-row__title-col">
                <h2 class="w-100"><span class="light">¿Cuáles son nuestros principales </span><br>servicios de limpieza con
                    ultrasonidos?</h2>
                <hr>
            </div>
            <article class="section__servicios-home-row__article">
                <figure class="section__servicios-home-row__article__item no-gutters-own">
                    <img src="./assets/img/aplicaciones-limpieza/desengrase-piezas-laton-sector-estampacion.jpg"
                        alt="desengrase piezas laton sector estampacion" width="100%" height="auto" />
                    <figcaption>
                        <h2>Hidrocarburos AIII o <br>Alcoholes modificados AIII</h2>
                        <p>Residuos<br> <span class="green">70%</span> orgánicos <span class="light"><br> </span><span class="green">30%</span> inorgánicos</p>
                    </figcaption>
                </figure>

                <figure class="section__servicios-home-row__article__item no-gutters-own">
                    <img src="./assets/img/aplicaciones-limpieza/limpieza-desengrase-aceites-piezas-geometria-compleja.jpg"
                        alt="limpieza y desengrase aceites taladrina pizas mecanizadas" width="100%" height="auto">
                        <figcaption>
                            <h2>Base acuosa en cámara</h2>
                            <p>Residuos<br> <span class="green">70%</span> inorgánicos <span class="light"><br> </span><span class="green">30%</span> orgánicos</p>
                        </figcaption>
                </figure>

                <figure class="section__servicios-home-row__article__item no-gutters-own">
                    <img src="./assets/img/aplicaciones-limpieza/limpieza-desengrase-aceites-taladrina-pizas-mecanizadas.jpg"
                        alt="desengrase piezas laton sector estampacion" width="100%" height="auto" />
                        <figcaption>
                            <h2>Proceso combinado</h2>
                            <p><span class="green">'Spot Free'</span><br> Orgánicos e Inorgánicos</p>
                        </figcaption>
                </figure>


                <figure class="section__servicios-home-row__article__item no-gutters-own">
                    <img src="./assets/img/aplicaciones-limpieza/limpieza-con-ultrasonidos-piezas-xxl-turbina-despues.jpg"
                        alt="limpieza y desengrase aceites taladrina pizas mecanizadas" width="100%" height="auto">
                        <figcaption>
                            <h2>Limpieza con ultrasonidos<br> por inmersión</h2>
                            <p>Residuos <span class="green">70%</span> orgánicos <span class="light">/ </span><span class="green">30%</span> inorgánicos</p>
                        </figcaption>
                </figure>

            </article>
        </div>
    </div>
</section>