<header class="bg-intro-large">
    <div class="container-lg no-gutters">
        <span class="slogan slide-top-first" lang="en">'HI TECH CLEANERS & DEGREASERS'</span>
        <h1 class="slide-top-second"><span class="light">¿</span>Cuáles son las aplicaciones<br class="d-none d-lg-block"> de limpieza de nuestros procesos<span class="light">?</span></h1>
            <hr class="introHr slide-left-right">
            <h2 class="slide-top-third">Disolventes clorados AIII, hidrocarburos AIII, base acusoa, procesos híbridos,<br class="d-none d-lg-block"> inmersión en agua y detergentes con ultrasonidos, decapantes con ultrasonidos, etc.</h2>
    </div>
</header>
<main class="container-lg no-gutters-own">
    <h3>¿Cómo sabemos cuando un proceso de lavado es el indicado?</h3>
    <p>Guía técnica de cada proceso lavado tipo y cantidad de residuo, geometría de las piezas? base acuosa, base disolvente, proceso híbrido</p>
</main>

